{% extends 'base.html.twig' %}

{% block body %}

    <!-- start hero -->
    <div id="hero" class="jarallax" data-speed="0.7" data-img-position="50% 100%" style="background-image: url({{ vich_uploader_asset(category, 'imageFile') }});color: #333;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <h2 class="__title"><span>Food Shack Company</span>{{ category.name }}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- end hero -->

    <!-- start main -->
    <main role="main">
        <!-- Common styles
        ================================================== -->



        <div class="container py-5">
            <section class="products-list py-5">
                <div class="container goods--style-1">

                    <div class="row">
                        <!-- start item -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="__item">
                                <figure class="__image">
                                    <img class="lazy loaded" width="180" src="img/goods_img/1.jpg" alt="demo" data-was-processed="true">
                                </figure>

                                <div class="__content">
                                    <h4 class="h6 __title"><a href="single_product.html">Inferno Extreme 155g</a></h4>



                                    <div class="product-price">
                                        <span class="product-price__item product-price__item--new">1.450 KD</span>
                                    </div>

                                    <a class="custom-btn custom-btn--medium custom-btn--style-1" href="#"><i class="fontello-shopping-bag"></i>Add to cart</a>
                                </div>


                            </div>
                        </div>
                        <!-- end item -->

                        <!-- start item -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="__item">
                                <figure class="__image">
                                    <img class="lazy loaded" width="180" src="img/goods_img/2.jpg" alt="demo" data-was-processed="true">
                                </figure>

                                <div class="__content">
                                    <h4 class="h6 __title"><a href="single_product.html">Sweet Chilli Sauce 275 g</a></h4>


                                    <div class="product-price">
                                        <span class="product-price__item product-price__item--new">1.750 KD</span>
                                    </div>

                                    <a class="custom-btn custom-btn--medium custom-btn--style-1" href="#"><i class="fontello-shopping-bag"></i>Add to cart</a>
                                </div>


                            </div>
                        </div>
                        <!-- end item -->

                        <!-- start item -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="__item">
                                <figure class="__image">
                                    <img class="lazy loaded" width="180" src="img/goods_img/3.jpg" alt="demo" data-was-processed="true">
                                </figure>

                                <div class="__content">
                                    <h4 class="h6 __title"><a href="single_product.html">Chilli BBQ Sauce 275g</a></h4>


                                    <div class="product-price">
                                        <span class="product-price__item product-price__item--new">2.000 KD</span>
                                        <span class="product-price__item product-price__item--old">1.750 KD</span>
                                    </div>

                                    <a class="custom-btn custom-btn--medium custom-btn--style-1" href="#"><i class="fontello-shopping-bag"></i>Add to cart</a>
                                </div>

                            </div>
                        </div>
                        <!-- end item -->

                        <!-- start item -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="__item">
                                <figure class="__image">
                                    <img class="lazy loaded" width="180" src="img/goods_img/4.jpg" alt="demo" data-was-processed="true">
                                </figure>

                                <div class="__content">
                                    <h4 class="h6 __title"><a href="single_product.html">Inferno Original 155g</a></h4>



                                    <div class="product-price">
                                        <span class="product-price__item product-price__item--new">1.450 KD</span>
                                    </div>

                                    <a class="custom-btn custom-btn--medium custom-btn--style-1" href="#"><i class="fontello-shopping-bag"></i>Add to cart</a>
                                </div>

                            </div>
                        </div>
                        <!-- end item -->

                        <!-- start item -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="__item">
                                <figure class="__image">
                                    <img class="lazy loaded" width="180" src="img/goods_img/5.jpg" alt="demo" data-was-processed="true">
                                </figure>

                                <div class="__content">
                                    <h4 class="h6 __title"><a href="single_product.html">Mic's Chili Gift Box (the Very hot collection</a></h4>


                                    <div class="product-price">
                                        <span class="product-price__item product-price__item--new">10.000 KD</span>
                                    </div>

                                    <a class="custom-btn custom-btn--medium custom-btn--style-1" href="#"><i class="fontello-shopping-bag"></i>Add to cart</a>
                                </div>

                            </div>
                        </div>
                        <!-- end item -->

                        <!-- start item -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="__item">
                                <figure class="__image">
                                    <img class="lazy loaded" width="180" src="img/goods_img/6.jpg" alt="demo" data-was-processed="true">
                                </figure>

                                <div class="__content">
                                    <h4 class="h6 __title"><a href="single_product.html">Trouble in Trinidad 155g</a></h4>



                                    <div class="product-price">
                                        <span class="product-price__item product-price__item--new">2.950 KD</span>
                                    </div>

                                    <a class="custom-btn custom-btn--medium custom-btn--style-1" href="#"><i class="fontello-shopping-bag"></i>Add to cart</a>
                                </div>

                            </div>
                        </div>
                        <!-- end item -->



                    </div>



                </div>



            </section>

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="load-more">
                            <a class="custom-btn1 custom-btn--medium custom-btn--style-1" href="#">Load More..</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>

    </main>
    <!-- end main -->

{% endblock %}

