{% extends 'baseAr.html.twig' %}

{% block body %}

    <!-- start hero -->
    <div id="hero" class="jarallax" data-speed="0.7" data-img-position="50% 100%"
         style="background-image: url({{ '/media/images/intro_img/13.jpg' }});color: #333;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <h2 class="__title"><span>شركة فود شاك</span>إجماليات سلة التسوق</h2>


                </div>
            </div>
        </div>
    </div>
    <!-- end hero -->

    <!-- start main -->
    <main role="main">
        <!-- Common styles
        ================================================== -->

        <div class="container py-5">
            <section class="products-list py-5">
                <div class="container goods--style-1">


                    <div class="row">

                        <div class="col-lg-8 m-auto text-center">

                            <div class="placeorder-container site-logo">

                                <img src="{{ '/media/images/site_logo.png' }}" />

                                <h3 class="green-success">عربة التسوق فارغة</h3><br />


                                <a class="custom-btn custom-btn--medium" href="{{ path('home', { locale: 'ar' }) }}">العودة إلى التسوق</a>

                            </div>


                        </div>


                    </div>


                </div>

            </section>

        </div>

    </main>
    <!-- end main -->
{% endblock %}