{% extends 'base.html.twig' %}

{% block body %}

    <!-- start hero -->
    <div id="hero" class="jarallax" data-speed="0.7" data-img-position="50% 100%" style="background-image: url({{ '/media/images/intro_img/11.jpg' }});color: #333;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <h2 class="__title"><span>Food Shack Company</span>Sign UP</h2>


                </div>
            </div>
        </div>
    </div>
    <!-- end hero -->

    <!-- start main -->
    <main role="main">
        <!-- Common styles
        ================================================== -->



        <div class="container py-5">
            <section class="products-list py-5">
                <div class="container goods--style-1">


                    <div class="row">

                        <div class="col-lg-8 offset-lg-2 text-center">

                            <div class="placeorder-container site-logo">

                                <img src="{{ '/media/images/site_logo.png' }}" />

                                <h3 class="green-success"> An email has been sent that contains a link that you can click to confirm your Account</h3><br />


                                <a class="custom-btn custom-btn--medium" href="{{ path('home', { locale: 'en' }) }}">go to Home Page</a>

                            </div>


                        </div>


                    </div>




                </div>

            </section>

        </div>

    </main>
    <!-- end main -->

{% endblock %}



